doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Login
    link(rel='stylesheet', href='/css/login.css')

  body
    h2 Login
    .login-container
      // Add action and method for form submission
      form#loginForm(action='/login', method='POST')
        .form-group
          input#username(type='text', name='username', placeholder='Email or Phone Number', required)
        .form-group
          input#password(type='password', name='password', placeholder='Password', required)
        button(type='submit') Login

      .signup-link
        p
          | Don't have an account? 
          a(href='/signup') Sign up

    script(src='/js/login.js')
