doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Login Successful
    link(rel='stylesheet', href='/css/success.css')
  body
    .success-box
      h1  CONGRATULATIONS!
      p You have succefully signed into the Refactory system. Feel at home.

    // Optional JS file
    //- script(src='/js/success.js')
